.DS_Store
node_modules/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
test/unit/coverage
server/coverage

# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.pyc
server/.pytest_cache/v/cache/lastfailed
server/.pytest_cache/v/cache/nodeids
server/.pytest_cache/v/cache/stepwise
server/app/__pycache__/models.cpython-36.pyc

