.container {
  max-width: 2000px;
  margin: 0 auto;
  padding: 15px 30px;
}
.active {
  color: cornflowerblue;
}
.read-only-form-field {
  padding-bottom: 5px
}

.form-field {
  padding: 0 1.25em 0 .75em;
  height: 2.5em;
  border: solid 2px #e0e0e0;
  border-radius: 2em;
  width: 30em;
  margin-bottom: 10px;
}
.form-field-small {
  padding: 0 1.25em 0 .75em;
  height: 2.5em;
  border: solid 2px #e0e0e0;
  border-radius: 2em;
  width: 10em;
  margin-bottom: 10px;
}
.form-label {
  display: inline-block;
  width: 150px;
  text-align: left;
}

.multiple-select {
  margin-bottom: 10px;
  border: solid 2px #e0e0e0;
  border-radius: 1em;
  padding: 5px 20px 5px 8px;
  display: inline-block;
  vertical-align: middle;
  width: 20em;
}

button {
  background-color: white;
  border-radius: 2em;
  color: black;
  font-size: 16px;
  padding-left: 2em;
  padding-right: 2em;
}

